body{
    background-color: rgb(32, 32, 32);
    margin: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(173, 173, 173);
}

.btn{
    background-color: white;
    border: none;
    margin: 2px;
    width: 100px;
}

/* HEADER */

header{
    margin: 0;
    background-color: rgb(63, 37, 88);
    padding: 20px;
}

header ul {
    margin: 0;
    list-style: none;
    display: flex;
    margin-left: 22px
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

/* HOME */

#home_page{
    height: 100vh;
    background-image: url(../img/wallpaper_home.jpg);
}

h2{
    margin: 0;
    position: relative;
    top: 160px;
    left: 100px;
    font-size: 50px;
}

/* CAR */

#car_page{
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

h1{
    text-align: center;
}

table{
    background-color: rgb(63, 37, 88);
    padding: 8px;
}

table tr th, table tr td{
    width: 140px;
}

table tr th{
    text-align: left;
    border-bottom: 1px solid white;
}

table tr td{
    height: 26px;
}

/* table tr td a{
    color: white;
    text-decoration: none;
} */

table tr td a:hover{
    color: rgb(173, 173, 173);
}

#create_new{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

#create_new a{
    color: white;
    text-decoration: none;
}

/* SHOW */
#show{
    text-align: center;
}

#show table{
    margin: auto;
    text-align: left;
}

#show table tbody {
    display: flex;
}

#show table tbody tr {
    display: flex;
    flex-direction: column;
}

/* EDIT */

#edit form div{
    display: flex;
    flex-direction: column;
    /* width: 500px; */
    padding: 0 270px;
}

div#car label{
    width: 250px;
}